
*{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #8E8D8A;
}
body{
    color: #2ecc71;
    border: 1px solid #caa225;
    background-color: #f1c40f;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}