body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #004d40, #8E8D8A);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .signup-container {
    background: #F5F5F5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.login-form h2, .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #004d40;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #004d40;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8E8D8A;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFFFF0;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #00796b;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.input-group button, .input-group .forgot-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #00796b, #8E8D8A);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.input-group button:hover, .input-group .forgot-button:hover {
    background: linear-gradient(to right, #004d40, #696969);
    transform: translateY(-2px);
}

.social-login {
    text-align: center;
    margin: 20px 0;
}

.social-login p {
    margin-bottom: 15px;
    color: #004d40;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.social-icons a img:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
