body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #004d40, #b8860b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .signup-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.login-form h2, .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #b8860b;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.input-group button, .input-group .forgot-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #006400, #daa520);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.input-group button:hover, .input-group .forgot-button:hover {
    background: linear-gradient(to right, #228b22, #ffdf00);
    transform: translateY(-2px);
}

.input-group .forgot-button {
    background: linear-gradient(to right, #b8860b, #8b4513);
    color: #fff;
}

.input-group .forgot-button:hover {
    background: linear-gradient(to right, #daa520, #a0522d);
    color: #fff;
}
